
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0"
  fxFlex="auto">KYC DETAILS</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="48px" *ngIf="aadharDetails">
        <h3>Aadhar Details </h3>
        <p>Name : {{aadhar_name}}</p>
        <p>DOB : {{aadhar_DOB}}</p>
        <p>Aadhar Number : {{aadhar_number}}</p>  
        <p>KYC Status : {{aadhar_status}}</p>
        <img mat-card-avatar src="{{aadhar_fileUrl}}">
      </div>

      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="48px" *ngIf="panDetails">
        <h3>PAN Details </h3>
        <p>Name : {{pan_name}}</p>
        <p>DOB : {{pan_DOB}}</p>
        <p>PAN Number : {{aadhar_number}}</p>  
        <p>KYC Status : {{aadhar_status}}</p>
        <img mat-card-avatar src="{{pan_fileUrl}}">
      </div>

      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="bankDetails">
          <h3>Bank Details</h3>
          
          <p>Account No : {{account_number}}</p>
          <p>Bank Name : {{bank_name}}</p>
          <p>IFSC Code : {{ifsc}}</p>
          <p>KYC Status : {{status}}</p>
      </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button mat-dialog-close color="primary" type="submit">CLOSE</button>
  </mat-dialog-actions>
