.mat-form-field{
	width:100%;
}
.regis_box{
	margin-bottom:10px;
}
.submit_btn{
	background: #f44336;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    cursor: pointer;
}
.submit_btn:focus{
	box-shadow: none;
	outline: none;
}

.side_nav_content{ padding-top: 25px; padding-bottom: 35px;  min-height:400px;}
.validation_error{
	margin-top:-20px;
	color:#f00;
}
.reg_mid{
	height:400px;
	overflow:auto;
	overflow-x:hidden;
}
